### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#count total purchases for future calculations
total = purchase_data["SN"].count()

#find unique purchasers
unique_data = purchase_data["SN"].unique()

#calculate total numbers of players
num_players=len(unique_data)

print("Total Players = ",num_players)

Total Players =  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

#calculate the unique number of items purchased
unique_items = purchase_data["Item ID"].unique()

#calculate the avg price of purchases
avg_price = purchase_data["Price"].mean()

#calculate the total amount spent
total_price = purchase_data["Price"].sum()

#caluclate the avg age of purchasers
avg_age = purchase_data["Age"].mean()

#set the proper formatting
format_price = "${:.2f}".format(avg_price)
format_total_price = "${:,.2f}".format(total_price)
format_age = "{:.1f}".format(avg_age)

#create the dataframe for output
sum_df = pd.DataFrame(
    {"Number of Unique Items":[str(len(unique_items))],
     "Total Purchases": [str(total)],
     "Average Price": [format_price],
     "Total Revenue": [format_total_price]
     })

#output
sum_df

  Number of Unique Items Total Purchases Average Price Total Revenue
0                    179             780         $3.05     $2,379.77


## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:

#create a subset with unique users
unique_users = purchase_data.drop_duplicates(subset=['SN'])

#count the number of people in each gender category
Gender = unique_users["Gender"].value_counts()

#assign vars to the gender counts
male_num = Gender[0]
fem_num = Gender[1]
nonBi_num = Gender[2]
Gtotal=male_num +fem_num + nonBi_num

#calculate percentages for the genders
male_per = (male_num/Gtotal)*100
fem_per = (fem_num/Gtotal)*100
nonBi_per = (nonBi_num/Gtotal)*100

#set the proper formattting
male_per = "{:.2f}%".format(male_per)
fem_per = "{:.2f}%".format(fem_per)
nonBi_per = "{:.2f}%".format(nonBi_per)




# create a dictionary with list object in values 
gender_info = { 
    ' ': ["Total Count","Percentage of Players"],
    'Male' : [str(male_num), str(male_per)], 
    'Female' : [str(fem_num), str(fem_per)], 
    'Other / Non-Disclosed' : [str(nonBi_num), str(nonBi_per)], 
} 
  
# create a dataframe 
df = pd.DataFrame.from_dict(gender_info, orient = 'index') 


#output    
df

                                 0                      1
                       Total Count  Percentage of Players
Male                           484                 84.03%
Female                          81                 14.06%
Other / Non-Disclosed           11                  1.91%


## Purchasing Analysis (Gender)

In [5]:

# Use GroupBy to separate the data into fields according to "Gender" values
grouped_df = purchase_data.groupby(['Gender'])


#count purchasers
g_count = grouped_df["SN"].count()

#calculate total price
g_price = grouped_df["Price"].sum()

#calculate average price
g_avg = g_price / grouped_df["SN"].count()

#calcualte total purchase per person
g_pur = g_price / unique_users["Gender"].value_counts()

#set dictionary for proper formatting
format_dict = {'Average Purchase Price':'${:.2f}', 'Total Purchase Value': '${:,.2f}', 'Avg Total Purchase per Person': '${:.2f}'}

#create dataframe for output
pa_gen_df = pd.DataFrame({"Purchase Count":g_count,
                                "Average Purchase Price": g_avg, 
                                    "Total Purchase Value": g_price,
                                    "Avg Total Purchase per Person" :g_pur })

#output df in proper format
pa_gen_df.style.format(format_dict)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
#calculate maximum age to set proper bin size
max_age = purchase_data['Age'].max()


# Create the bins in which Data will be held
# Bins are 0, 9.5, 14.5, 19.5, 24.5, 29.5,34.5,39.5,max_age
bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5,34.5,39.5,max_age]


# Create the names for the eight bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

#put data into bins
unique_users["Age Group"] = pd.cut(unique_users["Age"], bins, labels=group_names, include_lowest=True)


# Creating a group based off of the bins
groups_data = unique_users.groupby(["Age Group"])

#count the number of people per bin
groups_count=groups_data.count()

#rename the first column
groups_count = groups_count.rename(columns={'Purchase ID': 'Total Count'})

#calculate the percentage of players per bin
groups_count["Percentage of Players"]=(groups_count["Total Count"]/num_players)*100

#create df for output
age_demo = groups_count[["Total Count","Percentage of Players"]]

#set style
display_style = age_demo.style.format({'Percentage of Players' : "{:.2f}%"})

#output data
display(display_style)

/Users/coryarussell/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#calculate maximum age to set proper bin size
max_age = purchase_data['Age'].max()

# Create the bins in which Data will be held
# Bins are 0, 9.5, 14.5, 19.5, 24.5, 29.5,34.5,39.5,max_age
bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5,34.5,39.5,max_age]

# Create the names for the eight bins
age_group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

# cut the dataframe into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

# Creating a group based off of the bins
age_groups_data = purchase_data.groupby(["Age Group"])

#calculate the total purchase value
total_pur = age_groups_data["Price"].sum()

#calculate the avg purchase price
avg_pur = total_pur / age_groups_data["Purchase ID"].count()

#calculate the purchase count
p_count = age_groups_data["Purchase ID"].count()

#calculate the total purchase per person
avg_pur_per = total_pur / age_demo["Total Count"]

#set dictionary for proper formatting
format_dict = {'Average Purchase Price':'${:.2f}', 'Total Purchase Value': '${:,.2f}', 'Avg Total Purchase per Person': '${:.2f}'}


# Creating a new DataFrame using both duration and count
summary_df = pd.DataFrame({"Purchase Count":p_count,
                                "Average Purchase Price": avg_pur,
                                    "Total Purchase Value": total_pur,
                                    "Avg Total Purchase per Person" :avg_pur_per })

#output df in proper format
summary_df.style.format(format_dict)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:

#set the var for calculating counts
spender_data = purchase_data.groupby(["SN"])

#count the users
purchase_num=spender_data["SN"].count()

#calculate the total spent
spent=spender_data["Price"].sum()

#calculate the avg spent
avg_spent=spent/purchase_num

#create dataframe for Top Spenders
spender_df = pd.DataFrame({"Purchase Count":purchase_num,
                           "Average Purchase Price":avg_spent,
                                    "Total Purchase Value": spent })


# sort Top spenders from highest to lowest purchase value
spender_df = spender_df.sort_values("Total Purchase Value", ascending=False)

#set dictionary for proper formatting
format_dict = {'Average Purchase Price':'${:.2f}', 'Total Purchase Value': '${:,.2f}', 'Avg Total Purchase per Person': '${:.2f}'}

#output df in proper format
spender_df.head().style.format(format_dict)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
#create a subset dataframe
popular_df=purchase_data[["Item ID","Item Name","Price"]]

#group data both by ID and Name
grouped_popular = popular_df.groupby(['Item ID', 'Item Name'])

#calculate total purchase value
tot_price =grouped_popular["Price"].sum()

#count Items
tot_count =grouped_popular["Item ID"].count()

#calculate item price
item_price=tot_price/tot_count

# Converting a GroupBy object into a DataFrame
pop_output_df = pd.DataFrame({"Purchase Count":tot_count,
                              "Item Price":item_price,
                              "Total Purchase Value":tot_price })
       
#sort dataframe descending by Purchase Count
pop_output_df=pop_output_df.sort_values("Purchase Count",ascending=False)

#set dictionary for proper formatting
format_dict = {'Item Price':'${:.2f}', 'Total Purchase Value': '${:,.2f}'}

#output df in proper format
pop_output_df.head().style.format(format_dict)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
#sort dataframe descending by Total Purchase Value
prof_output_df=pop_output_df.sort_values("Total Purchase Value",ascending=False)

#set dictionary for proper formatting
format_dict = {'Item Price':'${:.2f}', 'Total Purchase Value': '${:,.2f}'}

#output df in proper format
prof_output_df.head().style.format(format_dict)